<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<div class="row">
  
    <% for(let item of songs){%>
      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card shadow-lg mx-auto position-relative" style="width: 18rem;">
          <div class="card-body">
            <img src="<%=item.img%>" class="card-img-top" alt="...">
            <h2 class="card-title"><%=item.name%></h2>w
            <!-- <h5 class="card-title"><%=item.price%></h5> -->
            <p class="card-text"><%=item.desc%></p>
            <a href="/songs/<%=item._id%> " class="btn btn-info">Play</a>
          </div>
        </div>
      </div>
    <% } %>
</div>   
</body>
</html>
