<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<div class="row">
      <div class="col-lg-6 mt-3">
        <div class="card shadow-lg mx-auto position-relative" style="width: 18rem;">
          <img src="<%=foundSong.img%>" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title"><%=foundSong.name%></h2>
            <!-- <h5 class="card-title"><%=foundSong.price%></h5> -->
            <p class="card-text"><%=foundSong.desc%></p>
            <a href="/songs" class="btn btn-sm btn-warning">Home</a>
            <!-- <a href="/songs/<%=foundSong._id%>/edit" class="btn btn-sm btn-dark">Edit</a> -->
            <!-- <a href="#" class="btn btn-sm btn-secondary">Add To Cart</a> -->
            <!-- <a href="#" class="btn btn-sm btn-success">Buy Product</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5">Leave a Review</h1>
    </div>
</div>
</body>
</html>
